{% extends "base.html" %}
{% block content %}
<div class="container py-4"><div class="row"><div class="col-md-3">{% include "customers/_sidebar.html" %}</div>
<div class="col-md-9"><h1 class="h3">{{ title }}</h1>
<form method="POST" class="mt-3">{{ form.hidden_tag() }}
{% for field in [form.label, form.full_name, form.phone, form.address_line1, form.address_line2, form.city] %}
<div class="mb-3">{{ field.label(class="form-label") }}{{ field(class="form-control") }}</div>{% endfor %}
<div class="mb-3">{{ form.county.label(class="form-label") }}{{ form.county(class="form-select") }}</div>
<div class="mb-3">{{ form.postal_code.label(class="form-label") }}{{ form.postal_code(class="form-control") }}</div>
<div class="mb-3 form-check">{{ form.is_default(class="form-check-input") }}{{ form.is_default.label(class="form-check-label") }}</div>
{{ form.submit(class="btn btn-primary") }}
</form></div></div></div>
{% endblock %}
